First of all, let's import the libraries we'll be working with

In [1]:
import pandas as pd
from pandas import DataFrame

Now we will create a functions that we will use throughout the code

- First of it will be function that will show the head of the table

In [2]:
def show_head(df):
    return df.head()

- this function will show the datatypes of variables

In [3]:
def show_data_type(df):
    return df.dtypes

- and the third will show the general info about datasets

In [4]:
def show_info(df):
    return df.info()

0. To start with, I have read the file to a dataframe.

In [5]:
show_head(pd.read_excel('data/Amazon.xlsx'))

,Amazon Sales Dataset : The dataset consists of 121 observations,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CATEGORY,PRODUCTID,YEASR,QUARTER,QuarterlySales,CustomerRating,SELLERRATING,the product price in USD.,the discount applied to the product in percentage,UnitsSold,Revenue,ShippingMethod,the location of the sale,AdvertisingCost
2,Electronics,E1,2018,Q1,1200,4,4,200,10,50,10000,Standard,US,500
3,Clothing,C2,2019,Q2,800,5,4,50,5,200,16000,Express,EU,200
4,Books,B3,2020,Q3,600,4,3,30,15,100,6000,Standard,Asia,300

I wanted to skip the title and the empty row in order to have a better view.

In [6]:
df = pd.read_excel('data/Amazon.xlsx', header=None, skiprows=3)

let's check the changed data

In [7]:
show_head(df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Electronics,E1,2018,Q1,1200,4,4.0,200,10.0,50,10000,Standard,US,500.0
1,Clothing,C2,2019,Q2,800,5,4.0,50,5.0,200,16000,Express,EU,200.0
2,Books,B3,2020,Q3,600,4,3.0,30,15.0,100,6000,Standard,Asia,300.0
3,Home & Kitchen,H4,2021,Q4,1500,5,5.0,120,8.0,30,45000,Express,US,700.0
4,Beauty,B5,2018,Q1,1000,4,3.0,80,12.0,40,40000,Standard,EU,400.0

after the checking, it seems good. To check the datatype we first name columns

In [8]:
df.columns = ["Category", "Product ID", "Year", "Quarter", "Quarterly Sales", "Customer Rating", "Seller Rating", "Price", "Discount Rate", "Units Sold", "Revenue", "Shipping Method", "Location", "Advertising Cost"]

let's check the changed names of variables

In [9]:
show_head(df)

,Category,Product ID,Year,Quarter,Quarterly Sales,Customer Rating,Seller Rating,Price,Discount Rate,Units Sold,Revenue,Shipping Method,Location,Advertising Cost
0,Electronics,E1,2018,Q1,1200,4,4.0,200,10.0,50,10000,Standard,US,500.0
1,Clothing,C2,2019,Q2,800,5,4.0,50,5.0,200,16000,Express,EU,200.0
2,Books,B3,2020,Q3,600,4,3.0,30,15.0,100,6000,Standard,Asia,300.0
3,Home & Kitchen,H4,2021,Q4,1500,5,5.0,120,8.0,30,45000,Express,US,700.0
4,Beauty,B5,2018,Q1,1000,4,3.0,80,12.0,40,40000,Standard,EU,400.0

1. examine the variables and their datatypes

In [10]:
show_data_type(df)

Category             object
Product ID           object
Year                  int64
Quarter              object
Quarterly Sales      object
Customer Rating       int64
Seller Rating       float64
Price                 int64
Discount Rate       float64
Units Sold            int64
Revenue               int64
Shipping Method      object
Location             object
Advertising Cost    float64
dtype: object

there seems to be problem with Discount Rate and Seller Rating, they should ve integer instead of floats. We are going to do this change later since it will be much easier

2. remove any separation error in variables.

since we defined the header there is no need to check the existence of it check the exising of NA's

In [11]:
df.isna().sum()

Category            0
Product ID          0
Year                0
Quarter             0
Quarterly Sales     2
Customer Rating     0
Seller Rating       1
Price               0
Discount Rate       0
Units Sold          0
Revenue             0
Shipping Method     0
Location            0
Advertising Cost    2
dtype: int64

it is showed that there are NA's values in Seller Rating, Advertising Cost, Quarterly Sales

for making sure that there isn't any NA type of string type let's first of all get rid of white spaces in the code

In [12]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

and replacing string NA by NA

In [13]:
df.replace('NA', pd.NA, inplace=True)

let's check whether if there are new NA

In [14]:
df.isna().sum()

Category            0
Product ID          0
Year                0
Quarter             0
Quarterly Sales     3
Customer Rating     0
Seller Rating       1
Price               0
Discount Rate       0
Units Sold          0
Revenue             0
Shipping Method     0
Location            0
Advertising Cost    2
dtype: int64

so, there was 1 string NA in column "Quarterly Sales"

so, there is a problem only in The column: Quarterly Sales, we will consider it later

Remove specified characters from string columns

In [15]:
df.replace(to_replace=[r'\{', r'\}', r';', r':', r',', r'\t', r'\n'], value='', regex=True, inplace=True)


3. since we define by ourselves the names of columns there is no need to check whether column headers are values, not variables names

- for checking whether multiple variables are stored in both rows and columns. First of all, let's find out whether multiple datatypes present in a column

In [16]:
df.applymap(type).apply(set)

Category                                              {<class 'str'>}
Product ID                                            {<class 'str'>}
Year                                                  {<class 'int'>}
Quarter                                               {<class 'str'>}
Quarterly Sales     {<class 'float'>, <class 'int'>, <class 'panda...
Customer Rating                                       {<class 'int'>}
Seller Rating                                       {<class 'float'>}
Price                                                 {<class 'int'>}
Discount Rate                                       {<class 'float'>}
Units Sold                                            {<class 'int'>}
Revenue                                               {<class 'int'>}
Shipping Method                                       {<class 'str'>}
Location                                              {<class 'str'>}
Advertising Cost                                    {<class 'float'>}
dtype: object

so, we can see that in Quarterly Sales there are three types of value, we will fix it later, since we need to first of all find out what shall we do with NA's

Check if specific values indicate multiple variables in all columns

creating the function that will check for presenting of a specific characters and after this remove it

In [17]:
def check_and_remove_specific_values(df, specific_values):
    return df.applymap(lambda x: ''.join(c for c in str(x) if c not in specific_values))

let's check the columns

In [18]:
# Define a list of specific values to check for and remove
specific_values = [':', ';', ',', '.', '/', '?', '|', '*', '%']

# Check for the presence of specific values in all columns
check_and_remove_specific_values(df, specific_values)

,Category,Product ID,Year,Quarter,Quarterly Sales,Customer Rating,Seller Rating,Price,Discount Rate,Units Sold,Revenue,Shipping Method,Location,Advertising Cost
0,Electronics,E1,2018,Q1,1200,4,40,200,100,50,10000,Standard,US,5000
1,Clothing,C2,2019,Q2,800,5,40,50,50,200,16000,Express,EU,2000
2,Books,B3,2020,Q3,600,4,30,30,150,100,6000,Standard,Asia,3000
3,Home & Kitchen,H4,2021,Q4,1500,5,50,120,80,30,45000,Express,US,7000
4,Beauty,B5,2018,Q1,1000,4,30,80,120,40,40000,Standard,EU,4000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Electronics,E26,2019,Q3,950,5,40,230,180,25,23750,Express,EU,5000
118,Clothing,C27,2020,Q4,680,4,30,55,80,70,4760,Standard,Asia,1500
119,Books,B28,2021,Q1,880,5,50,38,120,60,5280,Express,US,2000
120,Home & Kitchen,H29,2018,Q2,1300,4,30,90,150,25,32500,Standard,EU,6000
121,Beauty,B30,2019,Q3,1100,5,50,80,100,40,44000,Express,Asia,4000

so, right now we have the data that don't have any if these specific charters

 let's check whether each string in each column one or more word characters let's check the pattern letter and one digit ot more digits Product ID

In [19]:
pattern_to_check_product_id = '^[A-Z]\d+$'
# Check if the pattern is present in Product ID column

df['Product ID'] = df['Product ID'].astype(str)  # Ensure the column is of string type
df['Product ID'].str.match(pattern_to_check_product_id)

0      True
1      True
2      True
3      True
4      True
       ...
117    True
118    True
119    True
120    True
121    True
Name: Product ID, Length: 122, dtype: bool

it seems that everything is ok

check whether quarter column has a patter Q and after this digit from 1 to 4

In [20]:
pattern_to_check_quarter = '^Q[1-4]$'

# Check if the pattern is present in Quarter column
df['Quarter'] = df['Quarter'].astype(str)  # Ensure the column is of string type
df['Quarter'].str.match(pattern_to_check_quarter)

0      True
1      True
2      True
3      True
4      True
       ...
117    True
118    True
119    True
120    True
121    True
Name: Quarter, Length: 122, dtype: bool

it seems that everything is ok

let's check the others categorical columns that they contain only letters

In [21]:
# Identify categorical columns (excluding 'Product ID' and 'Quarter')
categorical_columns = df.select_dtypes(include='object').columns.difference(['Product ID', 'Quarter', 'Quarterly Sales'])

# Check if categorical columns contain only digits
for column in categorical_columns:
    df[column] = df[column].astype(str)  # Ensure the column is of string type
    contains_only_digits = df[column].str.match(r'\w+')
    print(f"{column} contains only digits:")
    print(contains_only_digits)

Category contains only digits:
0      True
1      True
2      True
3      True
4      True
       ...
117    True
118    True
119    True
120    True
121    True
Name: Category, Length: 122, dtype: bool
Location contains only digits:
0      True
1      True
2      True
3      True
4      True
       ...
117    True
118    True
119    True
120    True
121    True
Name: Location, Length: 122, dtype: bool
Shipping Method contains only digits:
0      True
1      True
2      True
3      True
4      True
       ...
117    True
118    True
119    True
120    True
121    True
Name: Shipping Method, Length: 122, dtype: bool

Column Category, Location, Shipping method contains only letters they are Ok

other columns should be check later since they contain NA values that should be evaluated

Check if variables are stored in both rows and columns

In [22]:
set(df.columns) & set(df.values.flatten())

set()

so it is shown the empty set it means none of variables are stored in both rows and columns

since we have one table there is no need to check for whether a single observational unit exist in a different tables, only drop duplicates

In [23]:
df.drop_duplicates(inplace=True)

4. we already fixed the column names

5. The product ID column is unnecessary for data visualization, so I'm deleting it.

In [24]:
df = df.drop("Product ID", axis=1)

6. we already clean data from duplicates

7. we already check if we have any unnecessary strings in the values.

8. we already check for whitespaces

9. we need to format a titles

In [25]:
df["Category"] = df["Category"].str.title()

10. We don't have to check if levels of categories are unique since we don't need it to be unique for this data set.

11. we need to create a column that would specify year and quarter but firstly we need to work with Year column.

some data has at the end uneceasty one more digit let's get rid of id

In [26]:
df['Year'] = df['Year'].astype(str)
df['Year'] = df['Year'].str[:4]
df['Year'] = df['Year'].astype(int)

right now we can create a new column

In [27]:
# Function to create date range for each row
def generate_date(row):
    quarter_map = {'Q1': '01', 'Q2': '04', 'Q3': '07', 'Q4': '10'}
    start_date_str = f"{row['Year']}-{quarter_map[row['Quarter']]}"
    start_date = pd.to_datetime(start_date_str, format="%Y-%m")
    end_date = start_date + pd.DateOffset(months=2)
    return pd.date_range(start=start_date, end=end_date, freq='M')
# Apply the function to create the 'Date' column
df['Date'] = df.apply(generate_date, axis=1)

# Explode the 'Date' column to handle the date range
df = df.explode('Date').reset_index(drop=True)

# Display the DataFrame
df["Date"]

0     2018-01-31
1     2018-02-28
2     2019-04-30
3     2019-05-31
4     2020-07-31
         ...
233   2021-02-28
234   2018-04-30
235   2018-05-31
236   2019-07-31
237   2019-08-31
Name: Date, Length: 238, dtype: datetime64[ns]

we created a new column that will have date format with specifying purchases in the quarter

so, as we checked we NA's in Quarterly Sales and in Seller Rating

we've found that values in Quarterly Sales is Revenue divide on Units Sold. So, instead of replacing all data by the mean/median/mode we can just replace it by Revenue divide on Units Sold

In [28]:
df['Quarterly Sales'] = df['Quarterly Sales'].fillna(df["Revenue"] // df["Units Sold"])
df['Quarterly Sales'] = df['Quarterly Sales'].astype(int)

let's see if there are a NA in column

In [29]:
df["Quarterly Sales"].isna().sum()

0

so, there isn't any NA's

let's the data in this column

In [30]:
sorted_df = df.sort_values(by='Category')
sorted_df[["Category", "Quarterly Sales"]]

           Category  Quarterly Sales
118          Beauty             1300
129          Beauty             1050
128          Beauty             1050
119          Beauty             1300
236          Beauty             1100
..              ...              ...
7    Home & Kitchen             1500
16   Home - Kitchen             1300
17   Home - Kitchen             1300
26   Home - Kitchen             1400
27   Home - Kitchen             1400

[238 rows x 2 columns]

median of rating since all data in integer we should use meidan

In [31]:
df['Seller Rating'].fillna(df['Seller Rating'].median(), inplace=True)

the same with advertising cost

In [32]:
df['Advertising Cost'].fillna(df['Advertising Cost'].mean(), inplace=True)

some data in year is typed in a wring for example instead of 2019 there is written 20199

In [33]:
df['Year'] = df["Year"].astype(str)
df['Year'] = df['Year'].str[:4]
df['Year'] = df["Year"].astype(int)

let's review our change

In [34]:
df['Year']

0      2018
1      2018
2      2019
3      2019
4      2020
       ...
233    2021
234    2018
235    2018
236    2019
237    2019
Name: Year, Length: 238, dtype: int64

let's check whether in numeric exist negative, in our data it is unlikely if there would exist such values

In [35]:
negative_values_columns = df.select_dtypes(include='number').columns[df.select_dtypes(include='number').lt(0).any()]

# Display the result
if not negative_values_columns.empty:
    print(f"Negative values exist in the following columns: {', '.join(negative_values_columns)}")
else:
    print("No negative values found in any numeric column.")

Negative values exist in the following columns: Customer Rating

range of rating is unlikely to be negative since almost all data is ranging
from 0 to 5. we should change the negative values to positive one also convert all data to integer since all data is integer numbers

In [36]:
df["Customer Rating"] = df["Customer Rating"].abs().astype(int)

let's review the column

In [37]:
(df['Customer Rating'] < 0).any()

False

it shows that everything is OK

make all data inn columns in one type

In [38]:
df['Category'] = df['Category'].replace({'BEAUTY': 'Beauty',
                                         'ELECTRONICS': 'Electronics',
                                         'Home - Kitchen': 'Home & Kitchen',
                                         'Book': 'Books'})
df['Location'] = df['Location'].replace({'United States': 'US', 'ASIA': 'Asia', 'European Union': 'EU'})

let's check for outliers. It would be more logical if we will detect outliers in each column based on category since if we will change outliers based only on colum we might replace the data that corresponds to one category. Furthermore, average price might be 10 $ bur for the car might be 100000 $ and it would be unwise if we replace some of the by the median of column.

Let's write the function that will detect outliers based on Box-plot. Since each category isn't large we should detect extreme outliers

In [39]:
def identify_outliers_by_category(df, category_column, numerical_column):
    categories = df[category_column].unique()
    outliers_dict = {}

    for category in categories:
        subset = df[df[category_column] == category]
        column = subset[numerical_column]

        Q1 = column.quantile(0.25)
        Q3 = column.quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 3 * IQR
        upper_bound = Q3 + 3 * IQR
        outliers = column[(column < lower_bound) | (column > upper_bound)]

        # Check if the number of outliers doesn't exceed 10% of the category's data
        if not outliers.empty:
            category_count = len(subset)
            outlier_count = len(outliers)
            if outlier_count / category_count <= 0.1:
                outliers_dict[category] = outliers

    return outliers_dict

and part f the code that will proces all columns

In [40]:
# create a dict that will store outliers based on column 
outliers_by_category = {}
for numerical_column in df.select_dtypes(include='number').columns:
    if numerical_column not in ["Customer Rating", "Seller Rating", "Discount Rate"]:
        outliers_by_category[numerical_column] = {}
        for category_column in ['Category']:
            outliers_by_category[numerical_column][category_column] = identify_outliers_by_category(df, category_column, numerical_column)
                                                                           

# Displaying outliers for each category
for numerical_column, category_dict in outliers_by_category.items():
    print(f"\nOutliers in {numerical_column} by Category:")
    for category_column, outliers in category_dict.items():
        if outliers:
            for cat, out_vals in outliers.items():
                print(f"Outliers in {cat}: {out_vals.values}")
        else:
            print(f"No outliers in {category_column}")

# Replacing outliers by mean of the specific columns within each category
for numerical_column, category_dict in outliers_by_category.items():
    for category_column, outliers in category_dict.items():
        for cat, out_vals in outliers.items():
            category_mean = df.loc[df[category_column] == cat, numerical_column].mean().astype(int)
            df.loc[(df[category_column] == cat) & df[numerical_column].isin(out_vals), numerical_column] = category_mean

Outliers in Year by Category:
No outliers in Category

Outliers in Quarterly Sales by Category:
Outliers in Clothing: [70 70]

Outliers in Price by Category:
No outliers in Category

Outliers in Units Sold by Category:
No outliers in Category

Outliers in Revenue by Category:
Outliers in Electronics: [78000 78000]
Outliers in Books: [84000 84000 84000 84000]

Outliers in Advertising Cost by Category:
No outliers in Category

it is done

let's check datatypes of colums

In [41]:
show_data_type(df)

Category                    object
Year                         int64
Quarter                     object
Quarterly Sales              int64
Customer Rating              int64
Seller Rating              float64
Price                        int64
Discount Rate              float64
Units Sold                   int64
Revenue                      int64
Shipping Method             object
Location                    object
Advertising Cost           float64
Date                datetime64[ns]
dtype: object

so, let's make all numeric column in one type float64

In [42]:
# Get a list of columns to convert to float (excluding datetime and object columns)
columns_to_convert = df.select_dtypes(include=['int']).columns
columns_to_exclude = df.select_dtypes(exclude=['datetime', 'object']).columns

# Convert integer columns to float
df[columns_to_convert] = df[columns_to_convert].astype(float)

review the change

In [43]:
show_data_type(df)

Category                    object
Year                       float64
Quarter                     object
Quarterly Sales            float64
Customer Rating            float64
Seller Rating              float64
Price                      float64
Discount Rate              float64
Units Sold                 float64
Revenue                    float64
Shipping Method             object
Location                    object
Advertising Cost           float64
Date                datetime64[ns]
dtype: object

Year isn't supposed to be float, is should be integer

In [44]:
df['Year'] = df['Year'].astype(int)

In [45]:
show_data_type(df)

Category                    object
Year                         int64
Quarter                     object
Quarterly Sales            float64
Customer Rating            float64
Seller Rating              float64
Price                      float64
Discount Rate              float64
Units Sold                 float64
Revenue                    float64
Shipping Method             object
Location                    object
Advertising Cost           float64
Date                datetime64[ns]
dtype: object

save a new data in csv and excel files

In [46]:
# Save data to Excel file and csv file
csv_filename = 'data/filtered_amazon_2.csv'
df.to_csv(csv_filename, index=False)

csv_filename = 'data/filtered_amazon_2.xlsx'
df.to_excel(csv_filename, index=False)