Let's start by importing the libraries that will be utilized in our work.

In [1]:
import pandas as pd

Next, we will establish functions that will be employed consistently throughout the code.

- Firstly, we will define a function that will show the head of the table.

In [2]:
def show_head(df):
    return df.head()

This one will show the datatypes of variables.

In [3]:
def show_data_type(df):
    return df.dtypes

- And the third will show the general info about datasets.

In [4]:
def show_info(df):
    return df.info()

0. To start with, I have loaded the file to a dataframe.

In [5]:
show_head(pd.read_excel('/content/data/original/Amazon.xlsx'))

,Amazon Sales Dataset : The dataset consists of 121 observations,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CATEGORY,PRODUCTID,YEASR,QUARTER,QuarterlySales,CustomerRating,SELLERRATING,the product price in USD.,the discount applied to the product in percentage,UnitsSold,Revenue,ShippingMethod,the location of the sale,AdvertisingCost
2,Electronics,E1,2018,Q1,1200,4,4,200,10,50,10000,Standard,US,500
3,Clothing,C2,2019,Q2,800,5,4,50,5,200,16000,Express,EU,200
4,Books,B3,2020,Q3,600,4,3,30,15,100,6000,Standard,Asia,300

I wanted to skip the title and the empty row in order to have a better view.

In [6]:
df = pd.read_excel('/content/data/original/Amazon.xlsx', header=None, skiprows=3)

Now, let's examine the modified data.

In [7]:
show_head(df)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,Electronics,E1,2018,Q1,1200,4,4.0,200,10.0,50,10000,Standard,US,500.0
1,Clothing,C2,2019,Q2,800,5,4.0,50,5.0,200,16000,Express,EU,200.0
2,Books,B3,2020,Q3,600,4,3.0,30,15.0,100,6000,Standard,Asia,300.0
3,Home & Kitchen,H4,2021,Q4,1500,5,5.0,120,8.0,30,45000,Express,US,700.0
4,Beauty,B5,2018,Q1,1000,4,3.0,80,12.0,40,40000,Standard,EU,400.0

After taking a look, it seems fine. To examine the data types, let's first assign names to the columns.

In [8]:
df.columns = ["Category", "Product ID", "Year", "Quarter", "Quarterly Sales", "Customer Rating", "Seller Rating", "Price", "Discount Rate", "Units Sold", "Revenue", "Shipping Method", "Location", "Advertising Cost"]

Now, let's verify the updated variable names.

In [9]:
show_head(df)

,Category,Product ID,Year,Quarter,Quarterly Sales,Customer Rating,Seller Rating,Price,Discount Rate,Units Sold,Revenue,Shipping Method,Location,Advertising Cost
0,Electronics,E1,2018,Q1,1200,4,4.0,200,10.0,50,10000,Standard,US,500.0
1,Clothing,C2,2019,Q2,800,5,4.0,50,5.0,200,16000,Express,EU,200.0
2,Books,B3,2020,Q3,600,4,3.0,30,15.0,100,6000,Standard,Asia,300.0
3,Home & Kitchen,H4,2021,Q4,1500,5,5.0,120,8.0,30,45000,Express,US,700.0
4,Beauty,B5,2018,Q1,1000,4,3.0,80,12.0,40,40000,Standard,EU,400.0

1. Examine the variables and their datatypes.

In [10]:
show_data_type(df)

Category             object
Product ID           object
Year                  int64
Quarter              object
Quarterly Sales      object
Customer Rating       int64
Seller Rating       float64
Price                 int64
Discount Rate       float64
Units Sold            int64
Revenue               int64
Shipping Method      object
Location             object
Advertising Cost    float64
dtype: object

There appears to be a problem with 'Discount Rate' and 'Seller Rating'; they should be integers instead of floats. We plan to make this adjustment later for simplicity.

2. Remove any separation error in variables.

Given that we've defined the header, there is no necessity to verify its existence. Let's instead check for the presence of any NA's.

In [11]:
df.isna().sum()

Category            0
Product ID          0
Year                0
Quarter             0
Quarterly Sales     2
Customer Rating     0
Seller Rating       1
Price               0
Discount Rate       0
Units Sold          0
Revenue             0
Shipping Method     0
Location            0
Advertising Cost    2
dtype: int64

There are NA values in 'Seller Rating', 'Advertising Cost', and 'Quarterly Sales'.

To ensure there are no NA or string-type NA values, let's start by removing any white spaces in the code.

In [12]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

Additionally, we will replace string 'NA' occurrences with actual NA values.

In [13]:
df.replace('NA', pd.NA, inplace=True)

Now, let's verify whether there are any new occurrences of NA values.

In [14]:
df.isna().sum()

Category            0
Product ID          0
Year                0
Quarter             0
Quarterly Sales     3
Customer Rating     0
Seller Rating       1
Price               0
Discount Rate       0
Units Sold          0
Revenue             0
Shipping Method     0
Location            0
Advertising Cost    2
dtype: int64

There was one occurrence of the string 'NA' in the "Quarterly Sales" column.

Only the "Quarterly Sales" column has a problem; we'll address it later.

Remove specified characters from string columns.

In [15]:
df.replace(to_replace=[r'\{', r'\}', r';', r':', r',', r'\t', r'\n'], value='', regex=True, inplace=True)


3. Given that we've manually defined the column names, there's no need to verify whether column headers are treated as values or variable names.

- To check for multiple data types in a column, let's see if there is a mix of data types present.

In [16]:
df.applymap(type).apply(set)

Category                                              {<class 'str'>}
Product ID                                            {<class 'str'>}
Year                                                  {<class 'int'>}
Quarter                                               {<class 'str'>}
Quarterly Sales     {<class 'pandas._libs.missing.NAType'>, <class...
Customer Rating                                       {<class 'int'>}
Seller Rating                                       {<class 'float'>}
Price                                                 {<class 'int'>}
Discount Rate                                       {<class 'float'>}
Units Sold                                            {<class 'int'>}
Revenue                                               {<class 'int'>}
Shipping Method                                       {<class 'str'>}
Location                                              {<class 'str'>}
Advertising Cost                                    {<class 'float'>}
dtype: object

In the "Quarterly Sales" column, we observe three types of values. We'll address this later; for now, let's decide how to handle the NA values.

Check if certain values suggest the existence of multiple variables in any columns.

Creating a function to check for the presence of specific characters and subsequently removing them.

In [17]:
def check_and_remove_specific_values(df, specific_values):
    return df.applymap(lambda x: ''.join(c for c in str(x) if c not in specific_values))

Now, let's take a look at the columns.

In [18]:
# Define a list of specific values to check for and remove
specific_values = [':', ';', ',', '.', '/', '?', '|', '*', '%']

# Check for the presence of specific values in all columns
check_and_remove_specific_values(df, specific_values)

df.loc[df["Discount Rate"] < 1, "Discount Rate"] *= 100

So now, the data does not contain the specified characters.

Let's verify whether each string in each column consists of one or more word characters. Specifically, we'll check for the pattern of a letter followed by one or more digits in the "Product ID" column.

In [19]:
pattern_to_check_product_id = '^[A-Z]\d+$'
# Check if the pattern is present in Product ID column

df['Product ID'] = df['Product ID'].astype(str)  # Ensure the column is of string type
df['Product ID'].str.match(pattern_to_check_product_id)

0      True
1      True
2      True
3      True
4      True
       ...
117    True
118    True
119    True
120    True
121    True
Name: Product ID, Length: 122, dtype: bool

It appears that everything is fine.

Verify if the "quarter" column follows the pattern of 'Q' followed by a digit from 1 to 4.

In [20]:
pattern_to_check_quarter = '^Q[1-4]$'

# Check if the pattern is present in Quarter column
df['Quarter'] = df['Quarter'].astype(str)  # Ensure the column is of string type
df['Quarter'].str.match(pattern_to_check_quarter)

0      True
1      True
2      True
3      True
4      True
       ...
117    True
118    True
119    True
120    True
121    True
Name: Quarter, Length: 122, dtype: bool

It appears that everything is fine.

Now, let's ensure that the other categorical columns only consist of letters.

In [21]:
# Identify categorical columns (excluding 'Product ID' and 'Quarter')
categorical_columns = df.select_dtypes(include='object').columns.difference(['Product ID', 'Quarter', 'Quarterly Sales'])

# Check if categorical columns contain only digits
for column in categorical_columns:
    df[column] = df[column].astype(str)  # Ensure the column is of string type
    contains_only_digits = df[column].str.match(r'\w+')
    print(f"{column} contains only digits:")
    print(contains_only_digits)

Category contains only digits:
0      True
1      True
2      True
3      True
4      True
       ...
117    True
118    True
119    True
120    True
121    True
Name: Category, Length: 122, dtype: bool
Location contains only digits:
0      True
1      True
2      True
3      True
4      True
       ...
117    True
118    True
119    True
120    True
121    True
Name: Location, Length: 122, dtype: bool
Shipping Method contains only digits:
0      True
1      True
2      True
3      True
4      True
       ...
117    True
118    True
119    True
120    True
121    True
Name: Shipping Method, Length: 122, dtype: bool

"Category," "Location," and "Shipping method" columns are confirmed to only contain letters, so they are fine.

The remaining columns will be checked later, as they contain NA values that need to be assessed.

Check if variables are stored in both rows and columns.

In [22]:
set(df.columns) & set(df.values.flatten())

set()

The result is an empty set, indicating that no variables are stored in both rows and columns.

Given that we have a single table, there's no need to check whether a single observational unit exists in different tables. We can simply proceed by dropping duplicates.

In [23]:
df.drop_duplicates(inplace=True)

To avoid confusion, I modified the Product IDs for books and beauty products. They are now labeled as "BK" for books and "BE" for beauty products

We used .lower() and in commands to prevent any error from happening

In [24]:
for index, row in df.iterrows():
    if row["Category"].lower() in "books":
        df.loc[index, "Product ID"] = 'BK' + row["Product ID"][1:]
    elif row["Category"].lower() in "beauty":
        df.loc[index, "Product ID"] = 'BE' + row["Product ID"][1:]

4. The column names have already been fixed.

5. We don't have to remove any of the columns

6. We have already eliminated duplicate entries from the dataset.

7. We have already checked if there are any unnecessary strings in the values.

8. We have already checked for white spaces.

9. Now, we need to format the titles.

In [25]:
df["Category"] = df["Category"].str.title()

10. We don't have to check if levels of categories are unique, as we don't need it to be unique for this data set.

11. We need to create a column that specifies the year and quarter, but before that, we must fix the "Year" column.

Some of the values in the Year column has an unnecessary extra digit at the end; let's fix it.

In [26]:
df['Year'] = df['Year'].astype(str)
df['Year'] = df['Year'].str[:4]
df['Year'] = df['Year'].astype(int)

Now, we can proceed to create a new column for the date.

In [27]:
#First, let's create a column with modified quarter values to use them as integers.
quarter_map = {'Q1': '01', 'Q2': '02', 'Q3': '03', 'Q4': '4'}
modified_quarter = df['Quarter'].map(quarter_map)
#Then, let's go on with creating a date column.
df['Date'] = df['Year'].astype(str) + '.' + modified_quarter.astype(str)
df['Date'] = pd.to_datetime(df['Date'], format='%Y.%m')
df['Date'] = df['Date'].dt.strftime('%Y-%m')
df['Date']

0      2018-01
1      2019-02
2      2020-03
3      2021-04
4      2018-01
        ...
117    2019-03
118    2020-04
119    2021-01
120    2018-02
121    2019-03
Name: Date, Length: 119, dtype: object

We have generated a new column that combines the information from the "Year" and "Quarter" columns, with the data type designated as date.

so, as we checked we NA's in Quarterly Sales and in Seller Rating

We can use the mean of the Quarterly Sales to override the NA's.

In [28]:
df['Quarterly Sales'].fillna(df['Quarterly Sales'].mean(), inplace=True)
df['Quarterly Sales'] = df['Quarterly Sales'].astype(int)

Let's check if there are any NA values in the "Quarterly Sales" column.

In [29]:
df["Quarterly Sales"].isna().sum()

0

So, there are no NA values in the "Quarterly Sales" column.

Let's sort the data of the "Quarterly Sales" column.

In [30]:
sorted_df = df.sort_values(by='Category')
sorted_df[["Category", "Quarterly Sales"]]

           Category  Quarterly Sales
61           Beauty             1300
35           Beauty              800
40           Beauty             1100
45           Beauty             1050
50           Beauty             1015
..              ...              ...
120  Home & Kitchen             1300
65   Home & Kitchen             1400
24   Home & Kitchen             1400
9    Home - Kitchen             1300
14   Home - Kitchen             1400

[119 rows x 2 columns]

Since it makes more sense according to the nature of the data, we can change the NA's in Seller Rating with median and change the NA's in the Advertising Cost with the mean.

In [31]:
df['Seller Rating'].fillna(df['Seller Rating'].median(), inplace=True)

In [32]:
df['Advertising Cost'].fillna(df['Advertising Cost'].mean(), inplace=True)


Let's verify if there are any negative values in the numeric columns. There shouldn't be any in our dataset.

In [33]:
negative_values_columns = df.select_dtypes(include='number').columns[df.select_dtypes(include='number').lt(0).any()]

# Display the result
if not negative_values_columns.empty:
    print(f"Negative values exist in the following columns: {', '.join(negative_values_columns)}")
else:
    print("No negative values found in any numeric column.")

Negative values exist in the following columns: Customer Rating

The range should not be negative since all the data in our dataset falls within the range of 1 to 5.

In [34]:
df["Customer Rating"] = df["Customer Rating"].abs().astype(int)

Let's check it again.

In [35]:
(df['Customer Rating'] < 0).any()

False

It shows that everything is fine now.

Let's standardize the writing format for the data in the category columns.

In [36]:
df['Category'] = df['Category'].replace({'BEAUTY': 'Beauty',
                                         'ELECTRONICS': 'Electronics',
                                         'Home - Kitchen': 'Home & Kitchen',
                                         'Book': 'Books'})
df['Location'] = df['Location'].replace({'United States': 'US', 'ASIA': 'Asia', 'European Union': 'EU'})

Let's check the outliers based on the values of each column categorized by their respective categories, as it would be more logical since the values vary a lot in different categories.

Let's create a function that will identify outliers using a box plot. Given that each category isn't extensive, we will focus on detecting extreme outliers.

In [37]:
def identify_outliers_by_category(df, category_column, numerical_column):
    categories = df[category_column].unique()
    outliers_dict = {}

    for category in categories:
        subset = df[df[category_column] == category]
        column = subset[numerical_column]

        Q1 = column.quantile(0.25)
        Q3 = column.quantile(0.75)
        IQR = Q3 - Q1
        lower_bound = Q1 - 3 * IQR
        upper_bound = Q3 + 3 * IQR
        outliers = column[(column < lower_bound) | (column > upper_bound)]

        # Check if the number of outliers doesn't exceed 10% of the category's data
        if not outliers.empty:
            category_count = len(subset)
            outlier_count = len(outliers)
            if outlier_count / category_count <= 0.1:
                outliers_dict[category] = outliers

    return outliers_dict

And here is the part of the code that will process for every column.

In [38]:
# create a dict that will store outliers based on column
outliers_by_category = {}
for numerical_column in df.select_dtypes(include='number').columns:
    if numerical_column not in ["Customer Rating", "Seller Rating", "Discount Rate"]:
        outliers_by_category[numerical_column] = {}
        for category_column in ['Category']:
            outliers_by_category[numerical_column][category_column] = identify_outliers_by_category(df, category_column, numerical_column)


# Displaying outliers for each category
for numerical_column, category_dict in outliers_by_category.items():
    print(f"\nOutliers in {numerical_column} by Category:")
    for category_column, outliers in category_dict.items():
        if outliers:
            for cat, out_vals in outliers.items():
                print(f"Outliers in {cat}: {out_vals.values}")
        else:
            print(f"No outliers in {category_column}")

# Replacing outliers by mean of the specific columns within each category
for numerical_column, category_dict in outliers_by_category.items():
    for category_column, outliers in category_dict.items():
        for cat, out_vals in outliers.items():
            category_mean = df.loc[df[category_column] == cat, numerical_column].mean().astype(int)
            df.loc[(df[category_column] == cat) & df[numerical_column].isin(out_vals), numerical_column] = category_mean

Outliers in Year by Category:
No outliers in Category

Outliers in Quarterly Sales by Category:
No outliers in Category

Outliers in Price by Category:
No outliers in Category

Outliers in Units Sold by Category:
No outliers in Category

Outliers in Revenue by Category:
Outliers in Electronics: [78000 56250]
Outliers in Books: [84000 84000]

Outliers in Advertising Cost by Category:
No outliers in Category

And now, it is done.

Let's check the datatypes of the columns.

In [39]:
show_data_type(df)

Category             object
Product ID           object
Year                  int64
Quarter              object
Quarterly Sales       int64
Customer Rating       int64
Seller Rating       float64
Price                 int64
Discount Rate       float64
Units Sold            int64
Revenue               int64
Shipping Method      object
Location             object
Advertising Cost    float64
Date                 object
dtype: object

Now, let's ensure that all numeric columns are of the same data type, specifically float64.

In [40]:
# Get a list of columns to convert to float (excluding datetime and object columns)
columns_to_convert = df.select_dtypes(include=['int']).columns
columns_to_exclude = df.select_dtypes(exclude=['datetime', 'object']).columns

# Convert integer columns to float
df[columns_to_convert] = df[columns_to_convert].astype(float)

Let's review the fixed version.

In [41]:
show_data_type(df)

Category             object
Product ID           object
Year                float64
Quarter              object
Quarterly Sales     float64
Customer Rating     float64
Seller Rating       float64
Price               float64
Discount Rate       float64
Units Sold          float64
Revenue             float64
Shipping Method      object
Location             object
Advertising Cost    float64
Date                 object
dtype: object

The "Year" column should be of integer type, not float.

In [42]:
df['Year'] = df['Year'].astype(int)

In [43]:
show_data_type(df)

Category             object
Product ID           object
Year                  int64
Quarter              object
Quarterly Sales     float64
Customer Rating     float64
Seller Rating       float64
Price               float64
Discount Rate       float64
Units Sold          float64
Revenue             float64
Shipping Method      object
Location             object
Advertising Cost    float64
Date                 object
dtype: object

Save the updated data into both CSV and Excel files.

In [44]:
# Save data to Excel file and csv file
csv_filename = '/content/data/filtered/filtered_amazon.csv'
df.to_csv(csv_filename, index=False)

csv_filename = '/content/data/filtered/filtered_amazon.xlsx'
df.to_excel(csv_filename, index=False)